.sidenav {
    background-color: whitesmoke;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 rgba(0, 0, 0, 0.5);
    user-select: none;
}

.sidenav .logo_container{
    display: flex;
    align-items: center;
    padding: 0.938rem  0.938rem  8rem;
    width: 100%;
}

.sidenav .logo{
    background: black;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid black;
    color: white;
    transition: 0.5s ease;
}

.sidenav .logo-text{
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.sidenav .btn-close{
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
}

.sidenav-nav .sidenav-nav-item{
    width: 100%;
    margin-bottom: 0.625rem;
}

.sidenav-nav .sidenav-nav-link{
    display: flex;
    align-items: center;
    height: 3rem;
    text-decoration: none;
    transition: all .3s ease;
    border-radius: 0.625rem;
}

.sidenav-nav .sidenav-nav-link .sidenav-link-icon{
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.sidenav-nav .sidenav-nav-link .sidenav-link-text{
    margin-left: 1.5rem;
}

.sidenav-nav .sidenav-nav-link:hover{
    color: white;
    background: black;
}

.sidenav .logo:hover{
    color: black;
    background: white;
}


.sidenav-nav .logout:hover{
    color: white;
    background: red;
}

.sidenav .btn-close:hover{
    background: red;
    border-radius: 10%;
}

.active {
    background-color: black;
    color: white;
}



