<nav class="bg-white-800 border-b-4 pb-8">
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center mt-10">
          <img class="hidden h-36 w-auto lg:block" src="../../../assets/img/HADES.png" alt="Company logo">
          <h1 class="text-black text-4xl font-bold">Inventory Management</h1>
        </div>
      </div>
      </div>
  </div>
</nav>
