<div class="bg-slate-900 w-72 h-screen shadow-2xl flex-col justify-center sideBar" #collapsed *ngIf="collapsed">
    <div class="p-10 flex justify-end">
        <button (click)="closeSideBar()" type="button" class="inline-block rounded-full text-white leading-normal uppercase shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-9 h-9">
            <img src="../../../assets/img/close.png" alt="Close button">
        </button>
    </div>
    <div class="flex-col">
        <img class="text-white rounded-full w-28 photo" src="../../../assets/img/ProfileDefault.png" alt="UserPhoto">
        <p class="text-white text-center mt-5 text-xl font-bold ml-2 mb-3">Jhon Doe</p>   
        <a href="" class="text-blue-500 text-xl font-bold sideBarList logout">Logout</a>
    </div>
    <div class="flex-col">
        <ul class="mt-32">
            <a href="/"><li class="text-gray-400 text-center text-2xl sideBarList">Dashboard</li></a>
            <a href="/products"><li class="text-gray-400 text-center text-2xl mt-10 sideBarList">Products</li></a>
            <a href="/categories"><li class="text-gray-400 text-center text-2xl  mt-10 sideBarList">Categories</li></a>
            <a href="/users"><li class="text-gray-400 text-center text-2xl  mt-10 sideBarList">Users</li></a>
        </ul>
    </div>
</div>
<div class="bg-slate-900 w-72  shadow-2xl flex-col justify-center sideBarOpen">
    <button (click)="closeSideBar()"><img class="w-8" src="../../../assets/img/right-arrow.png" alt="arrow"></button>
</div>