<app-navbar></app-navbar>
<div class="flex w-screen p-10 shadow-xl justify-between">
    <div class="flex space-x-2 justify-center">
        <h1 class="text-xl font-bold">{{title}}</h1>
    </div>
</div>
<div class="w-screen mt-10 flex justify-center items-center">
  <form class="bg-white shadow-2xl rounded w-8/12 px-80 py-10 mb-10">
    <div class="mb-4">
      <label class="block text-gray-700 text-lg font-bold mb-2" for="product_id">
        ID:
      </label>
      <input class=" focus:bg-white focus:border-blue-500 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="product_id" type="number" placeholder="Product ID" [(ngModel)]="idInput">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-lg font-bold mb-2" for="product_name">
        Product Name:
      </label>
      <input class=" focus:bg-white focus:border-blue-500 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="product_name" type="text" placeholder="Product Name" [(ngModel)]="nameInput">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-lg font-bold mb-2" for="description">
        Description:
      </label>
      <input class=" focus:bg-white focus:border-blue-500 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="description" type="text" placeholder="Product for ....." [(ngModel)]="descriptionInput">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-lg font-bold mb-2" for="price">
        Price:
      </label>
      <input class=" focus:bg-white focus:border-blue-500 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="price" type="number" placeholder="Cost of the Product" [(ngModel)]="priceInput">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-lg font-bold mb-2" for="cantity">
        Cantity in stock:
      </label>
      <input class=" focus:bg-white focus:border-blue-500 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="cantity" type="number" placeholder="#" [(ngModel)]="cantityInput">
    </div>
    <div class="flex items-center justify-between">
      <button (click)="addProduct()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Add New Product
      </button>
    </div>
  </form>
</div>
