<section #login>
    <div class="w-screen h-screen flex justify-center items-center">
  <form class="bg-white shadow-2xl rounded px-40 py-10 mb-10">
    <img class="pl-10" src="../../../assets/img/HADES.png" alt="Hades logo">
    <h1 class="text-gray-700 text-4xl font-bold mb-10">Sign up to your account</h1>
    <div class="mb-4">
      <label class="block text-gray-700 text-lg font-bold mb-2" for="email">
        Email Address
      </label>
      <input [class.border-red-600]="emailField.touched && emailField.invalid" class=" focus:bg-white focus:border-blue-500 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" id="email" type="text" placeholder="Your Email Address" [formControl]="emailField">
      <p class="text-red-600 mt-1 text-sm" *ngIf="emailField.touched && emailField.hasError('required')"><strong> This field is required</strong></p>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-lg font-bold mb-2" for="password">
        Password
      </label>
      <input [class.border-red-600]="passwordField.touched && passwordField.invalid" class=" focus:bg-white focus:border-blue-500 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="password" id="password" type="password" placeholder="************" [formControl]="passwordField">
      <p class="text-red-600 mt-1 text-sm" *ngIf="passwordField.touched && passwordField.hasError('required')"><strong> This field is required</strong></p>
    </div>
    <div (click)="Login()" class="flex items-center justify-between mb-20" #button>
      <button [disabled]="emailField.invalid || passwordField.invalid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Sign In
      </button>
    </div>
  </form>
</div>
    
</section>